$font-principal: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$cor-fonte-principal: white;
$cor-fundo: linear-gradient(to right, pink, purple);
$cor-hover:rgb(216, 37, 97);

/* você coloca o _ no início do arquivo como padrão! */